@import 'compass'

@import 'colors'
@import 'layout'
@import 'typography'
@import 'forms'
@import nav

.session,
.score,
.note,
.video
  background-color: $light-grey
  padding: 10px
  +border-radius(5px)
  line-height: 1.5em
  margin: 10px 0

.note
  line-height: 1.2em
  overflow: hidden

  img
    float: left
    margin: 0 5px 0 0

.video
  iframe
    margin: 5px 0 0 0
    display: block

span.competition
  font-size: 70%
  background-color: $light-blue
  border: 1px solid darken($light-blue, 10%)
  color: $grey-text
  padding: 3px 5px
  +border-radius(3px)

.inline
  border-bottom: 1px solid $grey
  &.last
    border: none
  .delete
    margin: 0
    label
      display: inline

.user-list
  li
    +clearfix
    margin-bottom: 10px
  img
    float: left
    margin-right: 10px

.archers
  margin: 0 -5px

.archer
  display: inline-block
  text-align: center
  padding: 10px
  margin: 0 5px
  +border-radius(10px)

  &.selected
    background-color: $grey

  img
    display: block

  span
    display: block
    margin-top: 5px
