@import 'compass'

@import 'colors'
@import 'layout'
@import 'typography'
@import 'forms'
@import nav

.session,
.score
  background-color: $light-grey
  padding: 10px
  +border-radius(5px)
  line-height: 1.5em
  margin: 10px 0

span.competition
  font-size: 70%
  background-color: $light-blue
  border: 1px solid darken($light-blue, 10%)
  color: $grey-text
  padding: 3px 5px
  +border-radius(3px)

.inline
  border-bottom: 1px solid $grey
  &.last
    border: none
  .delete
    margin: 0
    label
      display: inline

.user-list
  li
    +clearfix
    margin-bottom: 10px
  img
    float: left
    margin-right: 10px
