<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>OUCofA Squads{% if title %} | {{ title }}{% endif %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}select2/select2.css" />
    </head>
    <body>
        <header>
            <div class="container">
                <h1>
                    <a href="{% url 'home' %}">OUCofA squads</a>
                    <small class="right">{{ request.user.get_full_name }}</small>
                </h1>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col6">
                    <nav>
                        <ul>
                            <li><a href="{% url 'squads' %}">Squads</a></li>
                            <li><a href="{% url 'information' %}">Information</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            {% block content %}
            {% endblock %}
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
