{% extends 'base.html' %}


{% block content %}
<div class="row">
    <div class="col6">
        <h2>{{ squad }} | {{ object.get_full_name }}</h2>
        <div class="archers">
        {% for archer in archers %}
            <div class="archer {% if archer == object %}selected{% endif %}">
                <a href="{% url 'user-history' pk=archer.pk %}">
                    <img src="http://graph.facebook.com/v2.1/{{ archer.uid }}/picture?height=100&width=100">
                    <span>{{ archer.get_full_name }}</span>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% if coach_mode %}
<div class="row">
    <div class="col3">
        <h2>
            Coach notes
            <small class="right"><a href="{% url 'note-add' pk=object.pk %}" class="btn btn-add">Add</a></small>
        </h2>
        {% for note in object.coachnote_set.all %}
        <p class="note">
            <img src="http://graph.facebook.com/v2.1/{{ note.author.uid }}/picture">
            <small>{{ note.timestamp }}</small><br>
            {{ note.content|linebreaksbr }}
        </p>
        {% endfor %}
    </div>
    <div class="col3">
        {% include 'videos.html' with videos=object.video_set.all coach_mode=True %}
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col3">
        {% include 'sessions.html' with sessions=object.sessionlog_set.all coach_mode=True %}
    </div>
    <div class="col3">
        {% include 'scores.html' with scores=object.score_set.all coach_mode=True %}
    </div>
</div>
{% if not coach_mode %}
<div class="row">
    <div class="col3">
        {% include 'videos.html' with videos=object.video_set.all coach_mode=True %}
    </div>
</div>
{% endif %}
{% endblock %}
