{% extends 'base.html' %}


{% block content %}
<div class="row">
    <div class="col3">
        {% include 'sessions.html' %}
        {% if sessions %}
        <p><a href="{% url 'session-list' %}" class="btn right">View all</a></p>
        {% endif %}
    </div>
    <div class="col3">
        {% include 'scores.html' %}
        {% if scores %}
        <p><a href="{% url 'score-list' %}" class="btn right">View all</a></p>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col3">
        {% include 'videos.html' %}
        {% if vidoes %}
        <p><a href="{% url 'video-list' %}" class="btn right">View all</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}
