{% extends 'base.html' %}


{% block content %}
<div class="row">
    <div class="col3">
        <h2>
            Training log
            <small class="right"><a class="btn btn-add">Add</a></small>
        </h2>
        {% for session in sessions %}
        {{ session }}
        {% empty %}
        <p>Nothing logged yet.</p>
        {% endfor %}
    </div>
    <div class="col3">
        <h2>
            Scores
            <small class="right"><a class="btn btn-add">Add</a></small>
        </h2>
        {% for score in scores %}
        {{ score }}
        {% empty %}
        <p>Nothing shot yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
