<h2>
    Scores
    {% if not coach_mode %}
    <small class="right"><a href="{% url 'score-add' %}" class="btn btn-add">Add</a></small>
    {% endif %}
</h2>
{% for score in scores %}
<p class="score">
    {% if not coach_mode %}
    <span class="right">
        <a href="{% url 'score-edit' pk=score.pk %}" class="btn btn-edit">Edit</a>
        <a href="{% url 'score-delete' pk=score.pk %}" class="btn btn-delete">Delete</a>
    </span>
    {% endif %}
    <strong>{{ score.date }}</strong><br>
    {% if score.competition %}
    <span class="competition">Competition score</span><br>
    {% endif %}
    {{ score.shot_round }}: {{ score.score }}<br>
    {{ score.notes|linebreaksbr }}
</p>
{% empty %}
<p>Nothing shot yet.</p>
{% endfor %}
