{% extends 'base.html' %}


{% block content %}
<div class="row">
    {% for squad in object_list %}
    <div class="col2">
        <h2>{{ squad.name }}</h2>
        <p>{{ squad.description|linebreaksbr }}</p>
        <ul class="user-list">
            {% for user in squad.user_set.all %}
            <li>
                {% if request.user.is_staff or user.public_profile %}
                    <a href="{% url 'user-history' pk=user.pk %}">
                {% endif %}
                    <img src="http://graph.facebook.com/v2.1/{{ user.uid }}/picture">
                    {{ user.get_full_name }}
                {% if request.user.is_staff or user.public_profile %}
                    <p class="btn right">View</p>
                    </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% if request.user.is_staff %}
        <h3>Stats</h3>
        <div>
            {% for stat in squad.stats %}
            <p><strong>{{ stat.type }}</strong></p>
            <p>This week</p>
            <ul>
                {% for archer in stat.this_week %}
                <li>{{ archer.archer }}: {{ archer.value }}</li>
                {% endfor %}
            </ul>
            <p>Last week</p>
            <ul>
                {% for archer in stat.last_week %}
                <li>{{ archer.archer }}: {{ archer.value }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
