* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  margin-bottom: 15px;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.row-wrapper {
  margin: 0 -15px;
  padding: 0 15px;
}

.row {
  overflow: hidden;
  *zoom: 1;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 10px;
}

.col1, .col2, .col3, .col4, .col5, .col6 {
  float: left;
  padding: 0 15px;
}

.col6 {
  width: 100%;
}

.col5 {
  width: 83.33333%;
}

.col4 {
  width: 66.66667%;
}

.col3 {
  width: 50%;
}

.col2 {
  width: 33.33333%;
}

.col1 {
  width: 16.66667%;
}

.offset1 {
  margin-left: 16.66667%;
}

.offset2 {
  margin-left: 33.33333%;
}

.offset3 {
  margin-left: 50%;
}

.offset4 {
  margin-left: 66.66667%;
}

.offset5 {
  margin-left: 83.33333%;
}

@media (max-width: 1200px) {
  .container {
    width: 910px;
  }
}
@media (max-width: 950px) {
  .container {
    width: 100%;
  }

  .col3, .col4, .col5 {
    width: 100%;
  }

  .col2 {
    width: 66.66667%;
  }

  .col1 {
    width: 33.33333%;
  }
}
@media (max-width: 600px) {
  .col1, .col2 {
    width: 100%;
  }
}
.right {
  float: right;
}

.left {
  float: left;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #002147;
  border-bottom: 1px solid #002147;
  overflow: hidden;
  *zoom: 1;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #444444;
  font-weight: normal;
  font-size: 70%;
  margin-top: 2px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  display: block;
  margin: 0;
  padding: 0;
}

li {
  display: block;
  margin: 0;
  padding: 0;
}

.btn {
  border: 1px solid #002147;
  background-color: #00397a;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 4px 7px;
  cursor: pointer;
  font-size: 75%;
  width: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 100%;
}
.btn:hover, .btn:active, .btn.active {
  background-color: #002147;
}

.btn-add:before {
  content: "+ ";
}

.btn-delete {
  background-color: #a83841;
  border-color: #822b32;
}
.btn-delete:before {
  content: "x ";
}

label {
  display: block;
  margin-bottom: 5px;
}
.required label {
  font-weight: bold;
}

input[type=text],
input[type=date],
input[type=number],
input[type=url] {
  width: 100%;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  font-size: 80%;
}

input[type=submit] {
  font-size: 100%;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  font-size: 80%;
  resize: vertical;
}

nav {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  color: #444444;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin: 10px 0;
  overflow: hidden;
}
nav ul {
  display: block;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  margin: 0;
  border-right: 1px solid #cccccc;
}
nav li a {
  display: block;
  padding: 15px;
}
nav li a:hover, nav li a:active, nav li a.active {
  background-color: #bfbfbf;
}

.session,
.score,
.note,
.video {
  background-color: #eeeeee;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  line-height: 1.5em;
  margin: 10px 0;
}

.note {
  line-height: 1.2em;
  overflow: hidden;
}
.note img {
  float: left;
  margin: 0 5px 0 0;
}

.video iframe {
  margin: 5px 0 0 0;
  display: block;
}

span.competition {
  font-size: 70%;
  background-color: #b2d7f3;
  border: 1px solid #86c0ec;
  color: #444444;
  padding: 3px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.inline {
  border-bottom: 1px solid #cccccc;
}
.inline.last {
  border: none;
}
.inline .delete {
  margin: 0;
}
.inline .delete label {
  display: inline;
}

.user-list li {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 10px;
}
.user-list img {
  float: left;
  margin-right: 10px;
}

.archers {
  margin: 0 -5px;
}

.archer {
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 0 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.archer.selected {
  background-color: #cccccc;
}
.archer img {
  display: block;
}
.archer span {
  display: block;
  margin-top: 5px;
}
